*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
:root{
    background: #d9e9fa;
}
h1{
    font-size: 5.4rem;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin:0 auto;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.btn{
    text-decoration: none;
    color: rgb(27, 215, 248);
    border: 1.5px solid rgb(27, 215, 248);
    width: 10rem;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.btn:hover{
transform: translateY(-5px);
box-shadow: 0 5px 5px 0  rgb(8, 8, 8,0.7);
}

/* last.html */
#save{
    color: rgb(27, 215, 248);
    border: 1.5px solid rgb(27, 215, 248);
    width: 11.4rem;
    font-size: medium;
    text-align: center;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    background: transparent;
}
input{
    background: transparent;
    border: none;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border-bottom: 2px solid rgb(27, 215, 248); */
    width: 100%;
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    font-size: 1.2rem;
}
label{
    position: absolute;
    top: 48%;
    color: grey;
    opacity: .3;
    transition: .5s;
}
span::before{
    display: flex;
    justify-content: center;

    content: '';
    width: 30%;
    height: 2px;
    position: absolute;
    top: 52%;
    left: 35%;
    background: rgb(158, 157, 157);
}
#score{
    border-bottom: 2px solid rgb(14, 1, 207);
}
input:focus ~ label{
    transform: translateY(-80%);
    color: rgb(27, 215, 248);
    opacity: 1;
    font-size: bold;
}
input:focus ~ span::before{
    background: rgb(27, 215, 248);
}
#warning{
    margin-bottom: 10px;
    color: red;
    font-size: small;
}
/* score.html */
ol{
    margin: 20px;
    font-size: xx-large;
    font-weight: uppercase;
    text-transform: uppercase;
}
li{
    margin-bottom: 10px;
    transition: 0.5s;
}
li:hover{
    transform: scale(1.10);
    color: rgb(68, 0, 255);
    text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}